<p>自粛じゃ死ぬ！なんとか助けて下さい！！</p>
<% if user_signed_in? %>
  <a href="tweets/new">投稿する</a>
  <%= link_to '登録情報', "/users/#{current_user.id}", method: :get %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %>
  <%= link_to "店舗登録はこちら", new_user_registration_path, class: 'post' %>
<% end %>

<% @tweets.each do |tweet| %>

  <ul>
    <li>店名：<%= tweet.user.store_name %></li>
    <li><%= image_tag tweet.img.to_s %></li>
    <li><%= tweet.text %></li>
  </ul>
<% end %>


    

